:root {
    --myColor: #D50000;
}
body {
    font-family: 'Open Sans', sans-serif !important;
}
.wrapper {
    display: grid;
    grid-template-areas: "header header header" "nav content content" "nav footer footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 3.6em 1fr auto;
    height: 100vh;
}
.header {
    grid-area: header;
}
.nav {
    grid-area: nav;
}
.bg-myColor {
    background-color: RGB(213, 0, 0);
}
.main {
    grid-area: content;
}
.footer {
    grid-area: footer;
}
@media (max-width: 768px) {
    .wrapper {
        grid-template-areas: "header" "nav" "content" "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 3.6em /* Header */
        minmax(75px, auto) /* Nav */
        1fr /* Content */
        auto; /* Footer */
    }
}
.nav-active{
    background-color: lightblue;
}
.border-top {
    border-top: 1px solid #dee2e6;
}
.border-left {
    border-left: 1px solid #dee2e6;
}
.border-right {
    border-right: 1px solid #dee2e6;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6;
}
/*switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

