@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome ngkndsf</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts{
    <script>
        $(function () {
            $("#DashboardLink").removeClass("text-dark");
            $("#DashboardLink").addClass("text-danger");
        });
    </script>
}
