<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Delivery App</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <nav class="navbar navbar-expand navbar-toggleable-sm navbar-dark my-shadow px-4" style="background-color: #D50000;">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-controller="Main" asp-action="Index">
                        <img width="116" height="35" src="~/img/cover2-crop.png">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul class="navbar-nav ml-auto pr-2"> 
                                <li class="nav-item">
                                    <span class="nav-link text-light d-flex align-items-center">
                                        <img class="rounded-circle img-fluid mr-2" width="28" src="https://stregasystem.com/img/users/user.png" alt="profile" />
                                        <span>@User.Identity.Name</span>
                                    </span>
                                </li>
                            </ul>
                            <form class="form-inline text-white">
                                <a asp-controller="Account" asp-action="Logout" class="btn btn-light rounded-0 btn-sm my-2 my-sm-0" type="submit">Logout</a>
                            </form>
                        }
                    </div>
                </div>
            </nav>
        </header>

        <nav class="nav">
            <div style="position: relative;overflow: hidden;width: auto;height: 100%;">
                <div class="w-100 d-flex flex-column pt-4 h-100">
                    <div class="px-4">
                        <a asp-controller="Main" asp-action="Index" class="d-flex px-1 py-2 text-decoration-none text-dark" id="DashboardLink">
                            <span class="nav-icon">
                                <i class="fas fa-chart-bar"></i>
                            </span>
                            <span class="nav-text">Dashboard</span>
                        </a>
                    </div>
                    <div class="px-4">
                        <a asp-controller="Courier" asp-action="Index" class="d-flex px-1 py-2 text-decoration-none text-dark" id="CouriersLink">
                            <span class="nav-icon">
                                <i class="fas fa-people-carry"></i>
                            </span>
                            <span class="nav-text">Couriers</span>
                        </a>
                    </div>
                    <div class="px-4">
                        <a asp-controller="Order" asp-action="Index" class="d-flex px-1 py-2 text-decoration-none text-dark" id="OrdersLink">
                            <span class="nav-icon">
                                <i class="fas fa-box-open"></i>
                            </span>
                            <span class="nav-text">Orders</span>
                        </a>
                    </div>
                    <div class="px-4">
                        <a asp-controller="User" asp-action="Index" class="d-flex px-1 py-2 text-decoration-none text-dark" id="UsersLink">
                            <span class="nav-icon">
                                <i class="fas fa-users"></i>
                            </span>
                            <span class="nav-text">Users</span>
                        </a>
                    </div>
                    <div class="px-4">
                        <a asp-controller="Promotion" asp-action="Index" class="d-flex px-1 py-2 text-decoration-none text-dark" id="PromotionsLink">
                            <span class="nav-icon">
                                <i class="fas fa-bullhorn"></i>
                            </span>
                            <span class="nav-text">Promotions</span>
                        </a>
                    </div>
                    <div class="px-4">
                        <a asp-controller="Email" asp-action="Index" class="d-flex px-1 py-2 text-decoration-none text-dark" id="EmailsLink">
                            <span class="nav-icon">
                                <i class="far fa-paper-plane"></i>
                            </span>
                            <span class="nav-text">Emails</span>
                        </a>
                    </div>
                    <div class="px-4">
                        <a asp-controller="PushNotification" asp-action="Index" class="d-flex px-1 py-2 text-decoration-none text-dark" id="NotificationsLink">
                            <span class="nav-icon">
                                <i class="far fa-bell"></i>
                            </span>
                            <span class="nav-text">Notifications</span>
                        </a>
                    </div>
                    <div class="px-4">
                        <a asp-controller="Order" asp-action="Index" class="d-flex px-1 py-2 text-decoration-none text-dark" id="ReportsLink">
                            <span class="nav-icon">
                                <i class="far fa-file-alt"></i>
                            </span>
                            <span class="nav-text">Reports</span>
                        </a>
                    </div>
                    <div class="px-4">
                        <a asp-controller="Order" asp-action="Index" class="d-flex px-1 py-2 text-decoration-none text-dark" id="SettingsLink">
                            <span class="nav-icon">
                                <i class="fas fa-sliders-h"></i>
                            </span>
                            <span class="nav-text">Settings</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <main role="main" class="pb-3 main">
            <div class="px-4 py-3 card rounded-0">
                @RenderBody()
            </div>
        </main>

        <!-- loading overlay -->
        <div id="overlay" style="display: none;">
            <div class="spinner"></div>
            <br />
            <span class="lead">Loading...</span>
        </div>

    </div>
    <!-- scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener("submit", function (e) {
            $('#overlay').hide().fadeIn();
        });
    </script>
    <!-- add ntoast -->
    @await Component.InvokeAsync("NToastNotify")
    @RenderSection("Scripts", required: false)
</body>

</html>
